

<div class="container py-2">

    <div class="row my-5">
        <div class="col-md-10 mx-auto">
            <div class="border rounded p-4">
                <h3 class="ml-2">about us</h3>
                <p class="my-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe atque vitae a totam corporis! Omnis porro magni laudantium provident suscipit reiciendis cumque! Earum dolores blanditiis libero iusto sint eum recusandae.</p>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio at, ut reiciendis earum corporis molestiae fuga deleniti, similique quia vero autem natus pariatur expedita laudantium ipsam exercitationem magnam debitis. Nobis!</p>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-4 mt-2">
            <div class="text-center p-2 border rounded">
               <h2>movies</h2>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis commodi recusandae saepe officiis assumenda rerum ipsam reprehenderit voluptatibus harum numquam.</p>
                <div class="brdr w-75 mb-2 mx-auto"></div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis commodi recusandae saepe officiis assumenda rerum ipsam reprehenderit voluptatibus harum numquam.</p>
            </div>
        </div>

        <div class="col-md-4 mt-2">
            <div class="text-center p-2 border rounded">
               <h2>tv shows</h2>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis commodi recusandae saepe officiis assumenda rerum ipsam reprehenderit voluptatibus harum numquam.</p>
                <div class="brdr w-75 mb-2 mx-auto"></div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis commodi recusandae saepe officiis assumenda rerum ipsam reprehenderit voluptatibus harum numquam.</p>
            </div>
        </div>

        <div class="col-md-4 mt-2">
            <div class="text-center p-2 border rounded">
               <h2>actors</h2>
                <p class="my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis commodi recusandae saepe officiis assumenda rerum ipsam reprehenderit voluptatibus harum numquam.</p>
                <div class="brdr w-75 mb-2 mx-auto"></div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis commodi recusandae saepe officiis assumenda rerum ipsam reprehenderit voluptatibus harum numquam.</p>
            </div>
        </div>

    </div>


    
</div>





<app-footer></app-footer>