


<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="brdr w-50 mb-2"></div>
            <div>
                <h2> Tranding</h2>
                <h2> Movies</h2>
                <h2>to watch now</h2>
                <p class="fontSizing"> most watched movies by days</p>
            </div>
            <div class="brdr w-100 mt-2"></div>
        </div>


        <div class="col-md-3 my-3 position-relative" *ngFor="let movie of movies">
            <div class="movie" [routerLink]="['/moviedetails' , movie.media_type , movie.id ]"  >
                <img [src]='imgSrc+movie.poster_path' class="img-fluid">
                <h2 class="h6 my-2">{{movie.title}} {{movie.name}}</h2>
                <div class="h6 vote">{{movie.vote_average}}</div>
                
            </div>

        </div>
    </div>
</div>